
<html>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<script>
    
  .w3-teal, .w3-hover-teal:hover {
      background-color: #1F3A60!important;
  }
    
</script>
    
    
<body>
    
<!-- Sidebar -->    
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
  <a href="<%= welcome_index_path %>" class="w3-bar-item w3-button">Home</a>
  <a href="<%= roles_path %>" class="w3-bar-item w3-button">Roles</a>
  <a href="<%= prog_users_path %>" class="w3-bar-item w3-button">Prog_users</a>
 
  <a href="<%= new_proposal_path %>" class="w3-bar-item w3-button">Create Proposals</a>
  <a href="/proposals" class="w3-bar-item w3-button">Active Proposals</a>
  <a href="/proposals/archive" class="w3-bar-item w3-button">Archived Proposals</a>
  <a href="#settingsPage" class="w3-bar-item w3-button">Settings</a>
</div>
  
<div id="main">
    
<div class="w3-teal" style="background-color: #1A3152!important;">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" style="background-color: #1A3152!important; padding-left: 2%; padding-bottom: 0px; font-weight: bold;" onclick="w3_open()">Menu</button>
  <div class="w3-container">
    <h1></h1>
  </div>
</div>
    
<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "10%";
  document.getElementById("mySidebar").style.width = "10%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}

function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
    

</body>

</html>