<% if user_signed_in? %> 
<html>
    
   
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
   float: left; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
   background-color: #111111;
}
</style>
<body>
<ul>
  <li> <a href="<%= new_proposal_path %>">Create Proposals</a></li>
  <li> <a href="/proposals">Active Proposals</a></li>
  <li> <a href="/proposals/archive">Archived Proposals</a></li>
  <li> <a href="#settingsPage">Settings</a></li>
</ul>
    

</body>

  <h1>New Proposal</h1>

  <%= render 'form' %>

  <%= link_to 'Back', proposals_path %>

<% else %> 

  <h1><b>Access denied! You must sign in to create a proposal.</b></h1>

<% end %> 