<% if user_signed_in? %> 

<%= render 'navbar' %>

  <h1>New Proposal</h1>

  <%= render 'form' %>

  <%= link_to 'Back', proposals_path %>

<% else %> 

  <h1><b>Access denied! You must sign in to create a proposal.</b></h1>

<% end %> 